.App {
  height: 100vh;
  margin: 0;
  padding: 0 0 10px;
  background-color: #282c34;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: #322f40;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
